* {
    border: solid 1px red;
    box-sizing: border-box;
    /* serve a far sì che le dimensioni totali di un elemento (inclusi width e height) comprendano anche il padding e il border, invece di sommarli alla larghezza e altezza iniziali.
    Questo rende più intuitivo il calcolo delle dimensioni, semplificando notevolmente il layout, poiché larghezza e altezza impostate sono quelle effettive */
  }


  html, body{
    padding: 0;
    margin: 0;
  }


  /* 3 COLONNE E 29 RIGHE */
  
  